[submodule "submodule-openapi"]
	path = submodule-openapi
	url = git@github.com:afmancilla/submodule-openapi.git
	branche = v1.1.0
[submodule "submodule-asyncapi"]
	path = submodule-asyncapi
	url = git@github.com:afmancilla/submodule-asyncapi.git
